.c-exam-rank {
    padding: 20px;
    max-width:1260px;
    .auto(x);
}
.c-exam-rank-title {
    .x;
    margin: 0;
    h1, h2, div {
        font-weight: 300;
    }
    .el-divider--horizontal {
        margin: 40px auto;
    }
}