.c-take-question-content {
    padding: 20px 50px;
    .lh(2em);
    >.c-article-box {
        .fz(20px);
    }
    .q-text {
        .el-icon-success {
            color: green;
            .fz(64px);
            vertical-align: middle;
            .db;
            text-align: center;
            .mb(20px);
        }
        .el-icon-error {
            color: red;
            .fz(64px);
            vertical-align: middle;
            .db;
            text-align: center;
            .mb(20px);
        }
    }
    .q-attr {
        .q-attr-hint {
            color: red;
        }
        span {
            vertical-align: middle;
        }
        .el-rate {
            display: inline-block;
            .ml(10px);
        }
        .q-attr-author {
            .ml(20px);
            font-weight: 300;
            color: #888;
            .el-avatar {
                vertical-align: middle;
            }
            .el-tag {
                .mr(6px);
                vertical-align: baseline;
            }
        }
        
    }
    .el-checkbox-group,
    .el-radio-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .el-checkbox,
    .el-radio {
        // display: inline-block;
        .w(45%);
        // .ml(0) !important;
        // .mt(20px);
        // .mb(20px);
        // .mr(0);
        // border-color: rgb(245, 248, 248);
        // background-color: rgb(245, 248, 248);
    }
    .el-radio-group {
        .w(100%);
        // .mt(-20px);
    }
    .c-exam-take-btn {
        .mt(40px);
    }
    .is-correct-answer {
        background-color: rgb(0,200,0);
        .el-checkbox__label, .el-radio__label {
            color: white !important;
        }
        .c-article {
            color: white !important;
        }
    }
    .is-wrong-answer {
        background-color: rgb(200, 0, 0);
        .el-checkbox__label,
        .el-radio__label {
            color: white !important;
        }
        .c-article {
            color: white !important;
        }
    }

    .el-radio.is-bordered,
    .el-checkbox.is-bordered {
        height: initial;
        padding: 12px;
        &.is-checked {
            border-color: #49c10f;
            .el-radio__label,
            .el-checkbox__label {
                color: #49c10f;
            }
            .c-article {
                color: #49c10f;
            }
        }
    }
    .el-radio,
    .el-checkbox {
        transition: 0.2s ease-in-out;
        .el-radio__label,
        .el-checkbox__label {
            transition: 0.2s ease-in-out;
        }
        border-width: 3px;
    }
    .el-radio:hover,
    .el-checkbox:hover {
        transition: 0.2s ease-in-out;
        border-color: #0366d6;
        .el-radio__label,
        .el-checkbox__label {
            transition: 0.2s ease-in-out;
            color: #0366d6;
        }
        .c-article {
            transition: 0.2s ease-in-out;
            color: #0366d6;
        }
    }
    .el-radio.is-bordered.is-disabled:hover,
    .el-checkbox.is-disabled.is-bordered:hover {
        border-color: #ebeef5;
        .el-radio__label,
        .el-checkbox__label {
            color: #c0c4cc;
        }
    }
    .el-radio.is-bordered.is-disabled.is-checked,
    .el-checkbox.is-disabled.is-bordered.is-checked {
        border-color: #0366d6 !important;
        border-width: 4px;
    }

    .el-checkbox.is-disabled, .el-radio.is-disabled {
        .el-checkbox__label, .el-radio__label {
            .c-article {
                color: #c0c4cc;
            }
        }
    }
}
@media screen and (max-width:@phone){
    .c-take-question-content{
        padding:20px;

        .q-text{
            margin:0;
        }

        .el-radio{
            .w(100%);
        }
    }
}
.el-checkbox__input,
.el-radio__input {
    display: none;
}
.el-checkbox,
.el-radio {
    display: inline-block;
    .ml(0) !important;
    .mt(20px);
    .mb(20px);
    .mr(0);
    border-color: rgb(245, 248, 248);
    background-color: rgb(245, 248, 248);
    height: 100% !important;
}

.el-checkbox__label, .el-radio__label {
    div, p {
        .dbi;
    }
    
}
.c-exam-take-btn {
    .mt(40px);
    .el-button {
        width: 30%;
    }
    text-align: center;
}

.c-take-question-content{
    .pr;
}
.m-exam-op{
    .pa;.rt(20px,50px);.z(1);
}
@media screen and (max-width:@phone){
    .m-exam-op{
        .ps;
        .x;
        .mt(20px);
    }
}