.c-exam-take {
    margin: auto -30px;
    background-color: rgb(245, 248, 248);
    .pb(50px);
    .c-exam-take-main {
        .pr;
    }
}
.c-exam-take-title {
    // background-color: rgb(210, 211, 211);
    .mt(-20px);
    .pl(30px);
    h1 {
        margin: 0;
        .lh(3em);
    }
    .u-mark {
        color: #fff;
        font-size: 12px;
        font-style: normal;
        padding: 1px 5px;
        border-radius: 2px;
        position: relative;
        *zoom: 1;
        margin-right: 5px;
        vertical-align: super;
    }
    .bg-black {
        background-color: black;
    }
    .bg-magenta {
        background-color: magenta;
    }
}
.c-exam-take-attr {
    // background-color: rgb(210, 211, 211);
    .pl(30px);
    .pr(30px);
    .pb(20px);
    h3 {
        .mt(0);
    }
    .c-exam-attr-prop {
        color: #888;
        font-weight: 300;
    }
    .c-exam-attr-content {
        .el-avatar {
            vertical-align: middle;
            .mr(10px);
        }
    }
    .c-exam-attr-value {
        .el-tag {
            .mr(10px);
            .mb(8px);
        }
    }
}
.c-exam-take-result {
    .w(200px);
    .h(150px);
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    border-color: #d2d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .pa;
    top: 10px;
    right: 30px;
    .result-text {
        .fz(18px);
        font-weight: bold;
        color: #24292e;
        font-family: "Source Han Sans CN";
        margin: 0;
    }
    .result-score {
        .mt(0);
        .mb(0);
        .fz(64px);
        color: #ce3939;
        font-style: italic;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}
.el-card {
    margin: 25px auto;
    .w(95%);
}
.c-exam-take-content {
    .q-text i {
        .mr(10px);
    }
    .el-icon-success {
        color: green;
        .fz(32px);
        vertical-align: middle;
    }
    .el-icon-error {
        color: red;
        .fz(32px);
        vertical-align: middle;
    }
    padding: 30px 50px;
    .lh(2em);
    .q-hint {
        color: red;
        .mr(4px);
    }
    .el-checkbox-group,
    .el-radio-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .el-checkbox,
    .el-radio {
        // display: inline-block;
        .w(45%);
        .el-checkbox__label,
        .el-radio__label {
            white-space: normal;
        }
        &.is-correct-answer {
            background-color: rgb(0, 200, 0);
            .el-checkbox__label,
            .el-radio__label {
                color: white !important;
            }
        }
        &.is-wrong-answer {
            background-color: rgb(200, 0, 0);
            .el-checkbox__label,
            .el-radio__label {
                color: white !important;
            }
        }
        // .ml(0) !important;
        // .mt(20px);
        // .mb(20px);
        // .mr(0);
        // border-color: rgb(245, 248, 248);
        // background-color: rgb(245, 248, 248);
    }

    .el-radio.is-bordered,
    .el-checkbox.is-bordered {
        height: initial;
        padding: 12px;
        &.is-checked {
            border-color: #49c10f;
            .el-radio__label,
            .el-checkbox__label {
                color: #49c10f;
            }
        }
    }
    .el-radio,
    .el-checkbox {
        transition: 0.2s ease-in-out;
        .el-radio__label,
        .el-checkbox__label {
            transition: 0.2s ease-in-out;
        }
    }
    .el-radio:hover,
    .el-checkbox:hover {
        transition: 0.2s ease-in-out;
        border-color: #0366d6;
        .el-radio__label,
        .el-checkbox__label {
            transition: 0.2s ease-in-out;
            color: #0366d6;
        }
    }

    .el-radio-group {
        .w(100%);
        // .mt(-20px);
    }
    .q-attr {
        margin: auto;
        .mb(30px);
        border: 1px dotted rgb(210, 211, 211);
        border-radius: 10px;
        background-color: rgb(245, 248, 248);
        padding: 10px 20px;
        line-height: 12px;
        .q-attr-content {
            margin: auto;
            font-size: 12px;
            .dbi;
            .mr(20px);
            .q-attr-prop {
                color: #888;
                font-weight: 300;
            }
            .el-rate {
                .dbi;
                vertical-align: middle;
            }
        }
    }
    .el-radio.is-bordered.is-disabled.is-checked,
    .el-checkbox.is-disabled.is-bordered.is-checked {
        border-color: #0366d6 !important;
        border-width: 4px;
    }
    .el-radio.is-bordered.is-disabled:hover,
    .el-checkbox.is-disabled.is-bordered:hover {
        border-color: #ebeef5;
        .el-radio__label,
        .el-checkbox__label {
            color: #c0c4cc;
        }
    }
    .q-whyami {
        .el-divider--horizontal {
            .mt(36px);
        }
        .el-divider__text {
            .fz(16px);
            color: #888;
            font-weight: bolder;
        }
    }
}
.c-exam-take-btn {
    .mt(40px);
    .el-button {
        width: 30%;
    }
    text-align: center;
}
.el-checkbox__input,
.el-radio__input {
    display: none;
}
.el-checkbox,
.el-radio {
    display: inline-block;
    .ml(0) !important;
    .mt(20px);
    .mb(20px);
    .mr(0);
    border-color: rgb(245, 248, 248);
    background-color: rgb(245, 248, 248);
}
.c-exam-take-sidebar {
    padding: 30px;
    // border-left: 2px solid rgb(245, 248, 248);
    .summary-mark {
        label.el-radio.is-bordered {
            margin: 10px 10px;
            width: 40px;
            text-align: center;
            padding: unset;
            .el-radio__label {
                .lh(40px);
                padding: unset;
            }
        }
        .q-attemped {
            background-color: lightblue;
        }
    }
}

@media screen and (max-width: 1023px) {
    .el-col {
        .w(100%);
        .mb(10px);
    }
}

@media screen and (max-width: 779px) {
    .el-card {
        margin: 10px auto;
        .w(85%);
    }
    .c-exam-take-content {
        padding: 10px 10px;
        .el-checkbox,
        .el-radio {
            width: 100%;
        }
        .el-checkbox,
        .el-radio {
            .mt(0);
        }
    }
    .c-exam-take-result {
        .pr;
        .ml(30px);
        top: unset;
        right: unset;
    }
}

@media screen and (max-width: 466px) {
    .el-message-box {
        width: 90%;
    }
}
